# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django-specific files
db.sqlite3
*.log

# Virtual environments
venv/
env/

# IDE and Editor Directories
.idea/
.vscode/
*.swp

# System Files
.DS_Store
Thumbs.db

# Static and Media Files
staticfiles/
media/

# Coverage reports
htmlcov/
.coverage
.tox/

# Node.js (
